@{
    ViewData["Title"] = "Home";
}
<h1 class="text-center">Home</h1>
<div class="col-md-8 offset-md-2 lead text-justify">
    This page was created by a student of the M3O-324B-18 group, Vladislav Moiseev.
    It is intended for compiling the ratings of MMA fighters.
    To interact with the rating of fighters go to the page <a href="../Fighters">Rankings</a>.
    <div class="pt-3">
        <img src="~/Images/mma-logo.png"/>
    </div>
</div>